
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 50% 98%;
    --foreground: 214 50% 20%;
    --border: 210 40% 90%;
    --ring: 210 40% 60%;
    --dockred: 0 100% 60%;
    --metallic: 210 40% 95%;
    --pureblack: 0 0% 0%;

    --primary: 210 100% 50%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 210 30% 95%;
    --secondary-foreground: 210 50% 30%;
    
    --muted: 210 20% 95%;
    --muted-foreground: 210 20% 40%;
    
    --accent: 210 60% 95%;
    --accent-foreground: 210 70% 30%;
    
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;
    
    --card: 210 30% 99%;
    --card-foreground: 214 50% 20%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 214 50% 20%;
    
    --input: 214 30% 95%;
    
    --sidebar-background: 217 65% 98%;
    --sidebar-foreground: 210 50% 30%;
    --sidebar-primary: 210 100% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 80% 90%;
    --sidebar-accent-foreground: 210 50% 30%;
    --sidebar-border: 210 40% 90%;
    --sidebar-ring: 210 50% 70%;
  }

  .dark {
    --background: 214 50% 10%;
    --foreground: 210 20% 98%;
    --border: 210 40% 20%;
    --ring: 210 40% 65%;
  }
}

@layer components {
  .bordered {
    @apply border border-border;
  }
}
